name: main_workflow
on:
  push:
    branches:
      - main

jobs:
  job_id:
    name: checkout_and_deploy
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to OCI Weather VM
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu/oci_experiments
            git checkout main
            git pull origin main
